
body{
    font-family: cursive;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.row>div{
    width: 300px;
}
h1{
    letter-spacing: 5px;
    margin: 0 !important;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}
header{
    padding-top: 25px;
    background-color: rgba(255, 255, 255, .8);
    height: 100px;
}
.btn{
background-color: blueviolet;
color: white;
}
.card{
    height: 480px;
}
.btn:hover{
    background-color: darkmagenta;
    color: white;
}