
body{
    font-family: cursive;
    background-image: url(bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(130, 166, 138);
}
.row>div{
    width: 300px;
}
h1{
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}
header{
    padding-top: 10px;
    background-color: rgba(255, 255, 255, .8);
    height: 150px;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

.card{
    height: 480px;
    outline: solid 5px rgba(255, 50, 240, 0.2) ;
}
.btn:hover{
    background-color: darkmagenta !important;
}
button{
    background-color:blueviolet !important;
        
    color: white !important;
}
header>button{

    font-size: 30px !important;
    width: 60px;
}

.card>div:first-child{
    background-color: rgba(255, 50, 240, 0.2);
}