
body{
    font-family: cursive;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.row>div{
    width: 300px;
}
h1{
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
}
header{
    padding-top: 10px;
    background-color: rgba(255, 255, 255, .8);
    height: 90px;
    margin: 0;
}

.card{
    height: 480px;
    
}
.btn:hover{
    background-color: darkmagenta !important;
}
button{
    background-color:blueviolet !important;
        
    color: white !important;
}
nav>button{

    font-size: 30px !important;
    width: 60px;
}
